{% extends "layout.html" %}
{% block content %}

<section class="flex-container3">

    <form class="login-form" id="login" method="POST" action="">
        {{ form.hidden_tag() }}
        <legend><h1>Sign Up</h1></legend>

        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            <div class="flash-error">
            <ul>
                {% for msg in errors %}
                <li>{{ msg }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
        {% endwith %}

        {% with errors = get_flashed_messages(category_filter=["success"]) %}
        {% if errors %}
            <div class="flash-success">
            <ul>
                {% for msg in errors %}
                <li>{{ msg }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
        {% endwith %}

        <div class="email-div">
            {{ form.email.label(class="") }}<br>
            {% if form.email.errors %}
                {{ form.email(class="input-wraper") }}
                <div class="error-text">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="input-wraper") }}
            {% endif %}
        </div>

        <div class="password-div">
            {{ form.password.label(class="password-label") }}<br>
            {% if form.password.errors %}
                {{ form.password(class="input-wraper") }}
                <div class="error-text">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="input-wraper") }}
            {% endif %}
        </div>

        <div class="remeber-checkbox">
            {{ form.remember(class="") }}
            {{ form.remember.label(class="") }}
        </div>

        <div class="">
            {{ form.submit(class="button-form") }}
        </div>

        <div class="forgot-password">
            <a href="#">Forgot Password?</a>
        </div>
    
        <div class="sign">
            <p> Need An Account?  <a href="{{ url_for('users.register') }}"> Sign Up Now </a></p>        
        </div>
    </form>
    <img src="../static/images/3.jpg" alt="banner-image" class="img_options">
</section>

{% endblock content %}